
<%- include("partials/header"); -%>

     <h1>To Upload Image on mongoDB</h1>
     <p> <%= startingContent %> </p>
    <hr>
    <div>
        <form action="/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Link</label>
                <input type="text" id="name" placeholder="Name"
                       value="" name="name" required>
            </div>
            <div>
                <label for="desc">Description</label>
                <textarea id="desc" name="pesc" value="" rows="2"
                          placeholder="Description" required>
                </textarea>
            </div>
            <div >
              <label for="timePeriod">Choose a grace-period</label>
              <select name="timePeriod" id="gracePeriod">
                <option value="oneMins">1 mins</option>
                <option value="twoMins">2 mins</option>
                <option value="fiveMins">5 mins</option>
                <option value="twoDays">2 Days</option>
              </select>
            </div>
            <div>
              <input type="hidden" id="gracePeriodCheck" name="oneTimeOnly" value="multiTimes" >
              <input type="checkbox" id="gracePeriodCheck" name="oneTimeOnly" value="oneTime" checked >
              <label for="oneTimeOnly"> Remove it after Read.</label><br>
            </div>

            <div>
            	<input type="checkbox" id="switch1" name="switch1" class="switch" />
            	<label for="switch1">first switch</label>
            </div>

            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image"
                       name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>

    <hr>

    <h1>Uplaoded Images</h1>
    <div>
        <% items.forEach(function(image) { %>
        <div>
            <div>
                <img src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>">
                <div>
                    <h5><%= image.name %></h5>
                    <p><%= image.desc %></p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>


<%- include("partials/footer"); -%>
